<div class={{sliderClassName.wrap}}>
  <div class={{sliderClassName.bar}}>
    <div class={{sliderClassName.scale}} style="{{scaleTransformStyle}}"></div>
  </div>
  <div class={{sliderClassName.toggle}} style="{{toggleTransformStyle}}">
    <input class={{sliderClassName.handle}} type="text" value="{{currentValue}}">
    {{#if isThumb}}
      <div class={{sliderClassName.thumb}}>{{currentValue}}</div>
    {{/if}}
  </div>
</div>