<div class={{sliderClassName.wrap}}>
  <div class={{sliderClassName.bar}}>
    <div class={{sliderClassName.scale}} style="transform: scale({{scaleWidth}}, 1);"></div>
  </div>
  <div class={{sliderClassName.toggle}} style="transform: translate({{togglePosition}}%, 0px);">
    <input class={{sliderClassName.handle}} type="text" value="{{currentValue}}">
    {{#if isThumb}}
      <div class={{sliderClassName.thumb}}>{{currentValue}}</div>
    {{/if}}
  </div>
</div>