<div class={{sliderClassName.wrap}}>
  <div class={{sliderClassName.bar}}>
    <div class={{sliderClassName.scale}}></div>
  </div>
  {{#if isDouble}}
    <div class={{sliderClassName.toggle}}>
      <input class={{sliderClassName.handle}} type="text">
      {{#if isThumb}}
        <div class={{sliderClassName.thumb}}></div>
      {{/if}}
    </div>
    <div class={{sliderClassName.toggle}}>
      <input class={{sliderClassName.handle}} type="text">
      {{#if isThumb}}
        <div class={{sliderClassName.thumb}}></div>
      {{/if}}
    </div>
  {{else}}
    <div class={{sliderClassName.toggle}}>
      <input class={{sliderClassName.handle}} type="text">
      {{#if isThumb}}
        <div class={{sliderClassName.thumb}}></div>
      {{/if}}
    </div>
  {{/if}}
</div>