<fieldset class="config-panel__values">
  {{#if isRange}}
  <p class="config-panel__value config-panel__value_current-min-value">
    <label class="config-panel__label">
      Текущее мин. значение:
      <input class="current-min-value" type="number" value="{{currentValues.min}}">
    </label>
  </p>
  <p class="config-panel__value config-panel__value_current-max-value">
    <label class="config-panel__label">
      Текущее макс. значение:
      <input class="current-max-value" type="number" value="{{currentValues.max}}">
    </label>
  </p>
  {{else}}
  <p class="config-panel__value config-panel__value_current-value">
    <label class="config-panel__label">
      Текущее значение:
      <input class="current-value" type="number" value="{{currentValues.min}}">
    </label>
  </p>
  {{/if}}
  <p class="config-panel__value">
    <label class="config-panel__label">
      Шаг:
      <input class="step" type="number" value="{{step}}">
    </label>
  </p>
  <p class="config-panel__value">
    <label class="config-panel__label">
      Мин. значение:
      <input class="min-range-value" type="number" value={{range.min}}>
    </label>
  </p>
  <p class="config-panel__value">
    <label class="config-panel__label">
      Макс. значение:
      <input class="max-range-value" type="number" value="{{range.max}}">
    </label>
  </p>
  {{#if withFractional}}
  <p class="config-panel__value">
    <label class="config-panel__label">
      Макс. знаков после запятой:
      <input class="max-decimal-place" type="number" value="{{maxDecimalPlace}}">
    </label>
  </p>
  {{/if}}
</fieldset>
<fieldset>
  <p class="config-panel__value">
    <label class="config-panel__label">
      Показывать текущее значение:
      <input class="thumb-show" data-value-name="withThumb" type="checkbox" {{#if withThumb}}checked{{/if}}>
    </label>
  </p>
  <p class="config-panel__value">
    <label class="config-panel__label">
      Шкала:
      <input class="ruler-show" data-value-name="withRuler" type="checkbox" {{#if withRuler}}checked{{/if}}>
    </label>
  </p>
  <p class="config-panel__value">
    <label class="config-panel__label">
      Диапазон:
      <input class="diapason" type="checkbox" {{#if isRange}}checked{{/if}}>
    </label>
  </p>
  <p class="config-panel__value">
    <label class="config-panel__label">
      Вертикальный слайдер:
      <input class="vertical" type="checkbox" {{#if isVertical}}checked{{/if}}>
    </label>
  </p>
</fieldset>